{{#each singleAnimal}}
<h1>{{capitalize this.animal_name}}</h1>
<section>
  <div>
    <img src={{this.img_link}} alt={{this.animal_name}} />
  </div>
  <div>
    <label><b>Habitat</b></label>
    <p>{{this.habitat}}</p>
    <label><b>Origin</b></label>
    <p>{{this.origin}}</p>
    <label><b>Facts</b></label>
    <p>{{this.facts}}</p>
    <label><b>Myths</b></label>
    <p>{{this.myths}}</p>
  </div>
</section>
{{/each}}
